{% extends 'base.html' %}

{% block content %}
<form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <lable for="title">제목</lable><br/>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <lable for="body">본문</lable><br/>
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
    </div>
    <input type="file" name="photo"><hr>
    <input type="submit" value="작성하기"><br/><br/>
    <button><a href="{% url 'home' %}"> 메인 페이지로 </a></button>
</form>

{% endblock %}